<%- include("seller-header") -%>
<div class="clearfix"></div>
<!-- Header Container / End -->


<!-- Dashboard Container -->
<div class="dashboard-container">

	<!-- Dashboard Sidebar
	================================================== -->
	<div class="dashboard-sidebar">
		<div class="dashboard-sidebar-inner" data-simplebar>
			<%- include("seller-sidebar") -%>
		</div>
	</div>

	<!-- Dashboard Sidebar / End -->


	<!-- Dashboard Content
	================================================== -->
	<div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >
			
			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>Manage Bidders</h3>
				<span class="margin-top-7">Bids for <b>Stone work for 100 saree</b></span>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="/dashboard">Dashboard</a></li>
						<li><a href="#">Task</a></li>
						<li><a href="/seller-manage-tasks/">Manage Task</a></li>
						<li><a href="/seller-manage-bidders">Manage Bidders</a></li>
					</ul>
				</nav>
			</div>
	
			<!-- Row -->
			<div class="row">

				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box margin-top-0">

						<!-- Headline -->
						<div class="headline">
							<h3><i class="icon-material-outline-supervisor-account"></i> <%=active_bid.length%> Bidders</h3>
							<div class="sort-by">
								<select class="selectpicker hide-tick">
									<option>Highest First</option>
									<option>Lowest First</option>
								</select>
							</div>
						</div>

						<div class="content">
							<ul class="dashboard-box-list">
								<% active_bid.forEach(function(active_bid){ %>
								<% user_new_list.forEach(function(user_new_list){ %>
									
										<% if(user_new_list._id==active_bid.helperid){ %>
								<li>
									<!-- Overview -->
									<div class="freelancer-overview manage-candidates">
										<div class="freelancer-overview-inner">

											<!-- Avatar -->
											<div class="freelancer-avatar">
												<div class="verified-badge"></div>
												<a href="#"><i class="custom-user-avtar freelancer-image icon-feather-user"></i></a>
											</div>

											<!-- Name -->
											<div class="freelancer-name">
												<h4><a href="#"><%= user_new_list.fname%>  <%= user_new_list.lname%></a></h4>

												
												<!-- Rating -->
												<div class="freelancer-rating">
													<div class="star-rating" data-rating="5.0"></div>
												</div>

												<!-- Bid Details -->
												<ul class="dashboard-task-info bid-info">
													<li><strong>&#8377;<%= active_bid.rate%></strong><span>Fixed Price</span></li>
													<li><strong><%= active_bid.delivery_time%></strong><span>Delivery Time</span></li>
												</ul>

												<!-- Buttons -->
												<div class="buttons-to-right always-visible margin-top-25 margin-bottom-0">
													<a href="status_update/<%= active_bid.taskid%>/<%= user_new_list._id%>/approved"  class="button ripple-effect"><i class="icon-material-outline-check"></i> Accept Offer</a>
													<a href="status_update/<%= active_bid.taskid%>/<%= user_new_list._id%>/decline" class="button dark ripple-effect"><i class="icon-feather-mail"></i> Decline offer</a>
												</div>
											</div>
										</div>
									</div>
								</li>
								<% } %>
								<% }); %>
								<% }); %>

							</ul>
						</div>
					</div>
				</div>

			</div>
			<!-- Row / End -->
			
<!-- Bid Acceptance Popup
================================================== -->
<div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#tab1">Accept Offer</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab">
				
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Accept Offer From Hemaxi</h3>
					<div class="bid-acceptance margin-top-15">
						&#8377;3200
					</div>

				</div>

				<form id="terms">
					<div class="radio">
						<input id="radio-1" name="radio" type="radio" required>
						<label for="radio-1"><span class="radio-label"></span>  I have read and agree to the Terms and Conditions</label>
					</div>
				</form>

				<!-- Button -->
				<button class="margin-top-15 button full-width button-sliding-icon ripple-effect" type="submit" form="terms">Accept <i class="icon-material-outline-arrow-right-alt"></i></button>

			</div>

		</div>
	</div>
</div>
<!-- Bid Acceptance Popup / End -->


<!-- Send Direct Message Popup
================================================== -->
<div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#tab2">Send Message</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab2">
				
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Direct Message To Hemaxi</h3>
				</div>
					
				<!-- Form -->
				<!-- <form method="" id="send-pm"> -->
					<textarea name="textarea" cols="10" placeholder="Message" class="with-border" required></textarea>
				<!-- </form> -->
				
				<!-- Button -->
				<button class="button full-width button-sliding-icon ripple-effect" type="submit" >Send <i class="icon-material-outline-arrow-right-alt"></i></button>

			</div>

		</div>
	</div>
</div>
<!-- Send Direct Message Popup / End -->

<%- include("seller-footer") -%>